.cta-inner {
  display: block;
}

.cta-inner form {
  width: 100%;
}

.form-field {
  margin-bottom: 20px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}
